/*******************************************************************************************/
/***** MAJOR LAYOUT *****/
body{background-color:rgb(200,200,230);}
.hd, .bd{
    font-family: helvetica, arial;
    width: 960px;
}

/*******************************************************************************************/
/****** HEADER *****/
.hd a{
    text-decoration: none;
}

.h-top-bar{
    width: 960px;
    background-color: black;
    color: #fff;
    height: 45px;
    padding: 10px 0 10px 0;
}
.h-top-bar .inn{
    width: 100%;
}
.h-top-bar a:visited{
    color: #fff;
}

#h_logo{
    display:block;
    float: left;
    height: 42px;
    width: auto;
    padding-left:10px;
    display:inline;
}
#site-data{
    float:left;
    margin: 10px 0 0 35px;
    display: inline-block;
}
#site-data ul{
    list-style: none;
    margin-top: -5px;
}
#site-data ul li{
    float:left;
    text-align: center;
    line-height: 18px;
    margin-right:10px;
}
#site-data ul li .number{
    font-size: 24px;
    font-weight: bold;
}
#site-data ul li .text{
    letter-spacing: -1px;
}
#user_type_tabs{
    float:left;
    margin: 15px 15px 0px 25px ;
    display:inline;
}
#user_type_tabs a,
#user_type_tabs span{
    display: block;
    float:left;
    margin:0 10px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    letter-spacing: -1px;
}
#start_ll{
    float:left;
    background: url(/images/demo/start_ll.png) center left no-repeat;
    padding-left: 25px;
    height:22px;
    line-height: 22px;
    margin: 15px 0 0 25px;
    display:inline;
}

#user_status_box{
    float:right;
    background: url(/images/demo/icon_person.png) center left no-repeat;
    padding-left: 35px;
    height:27px;
    line-height: 27px;
    display:inline;
    margin: 15px 10px 0 0;
    font-weight: bold;
}

#top_links{
    float:right;
    height:27px;
    line-height: 27px;
    display:inline;
    letter-spacing: -1px;
    margin: 15px 10px 0 0;
    font-weight: bold;
}
#h-nav-tab-bar{
    height: 35px;
    background-color: #808080;
    font-weight: bold;
    color: #000;
    overflow:hidden;
    width:100%;
}
#h-nav-tab-bar a{
    color: #000;
}
/***** LEFT SIDE TABS ******/
#h-nav-tab-bar .inn{
    margin-top: 13px;
}
#h-nav-tab-bar .main_type_tabs{
    float:left;
    width: 400px;
}
#h-nav-tab-bar .main_type_tabs a{
    display:inline-block;
    margin: 0px -2px 0px 0px;
    padding: 2px 30px 2px 30px;
    background-color:#000;
    text-align: center;
    font-size: 12px;
    color:#fff;
}
/***** AL NAVIGATOR USER CONTROL RIGHT TABS ******/
#h-nav-tab-bar .control_type_tabs{
    width:100%;
    margin:1px 0 0 13px;
}
#h-nav-tab-bar .control_type_tabs a{
    display:inline-block;
    margin: 0px 0px 0px -2px;
    padding: 2px 16px 2px 16px;
    background-color:#000;
    font-size: 10px;
    letter-spacing:.01em;
    color:#fff;
}

#h-nav-tab-bar .user_type_text{
    float:left;
    width: 220px;
    text-align: right;
}
#h-nav-tab-bar .user_type_text span{
    display:inline-block;
    margin: 0px 0px 0 20px;
    padding: 5px 8px 3px;
    background-color:#fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #000;
    text-align: center;
    font-size: 16px;
}
#h-nav-tab-bar .user_type_text #userTabText{
    margin-right: 90px;
}
#marketing-banner-carousel li{
    margin-top:-2px;
}
.jcarousel-control li a, .jcarousel-control li p{
    opacity:.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=50);
}

/*******************************************************************************************/
/****** MAJOR BODY LAYOUT *****/
.bd_wrap{
    width: 100%;
}

#bd_main{
    float:left;
    width: 580px;
    margin-top:-22px;
    padding-top:15px;
    background-color:rgb(230,230,280)
}
#bd_side{
    float:right;
    width: 370px;
    margin-top:-22px;
    border-right:1px solid #666;
}

/*******************************************************************************************/
/***** ABSTRACT/COMMON *****/
.fake-avatar
{
    float: left;
    width: 45px;
    height: 45px;
    margin: 4px 6px 4px 4px;
    background-color: #666;
    border:2px solid #000;
}

.micro-avatar-right-text{
    border:1px solid yellow;
    float:right;
    font-size:8px;
}
h3.al-button.rounded
{
    border: 1px solid black;
    display:inline;
    padding: 2px;
    color: white;
    margin-left: 95px;
    background-color: #666;
    font-size:10px;
}


/*******************************************************************************************/
 /***** LEFT INLAY *****/
.inlay-container{
    height: 60px;
    width:100%;
    overflow:hidden;
}
.inlay-inner-left{
    padding:5px;
    font-size:10px;
}
.inlay-inner-right{
    padding:5px;
    font-size:9px;
}
.inlay-inner-bottom{
    margin:-25px 0 0 -10px;
}
.inlay-inner-bottom .al-navigator{
    height:19px;
    margin-left:105px;
    padding:2px 2px 2px 8px;
    background-color:rgb(240,240,240);
}
/*******************************************************************************************/
/***** BODY LEFT *****/


/***** UNAUTH LARGE LISTS *****/
.large-list-wrap-multi{
    width:560px;
    margin:5px 0 0 9px;
    border:1px solid #666;
    background-color:#fff;
}
.large-list-wrap-single{
    width:570px;
    position:relative;
    margin:5px 0 0 11px;
    display:none;
    border:1px solid #666;
    background-color:#fff;
}
.large-list-container{
    margin-left: 5px;
    width:100%;
}
.large-list-bd{
    overflow:hidden;
    width:100%;
    margin-left:0px;
}
.large-list{
    padding:0px 1px 0px 1px;
}
.large-list-bd h3{
    font-size:14px;
    margin: 8px 0 12px 2px;
    font-weight: bold;
}
.large-list-ft{
    width:90%;
    margin:0px auto -3px auto;
    text-align:right;
}
.large-list-ft a{
    text-decoration:none;
    line-height:16px;
    font-size:11px;
}

.micro-profile-inner{
    border:1px solid #777;
}

/***** MICRO-PROFILES/BOXES ******/
.two-micro-profile-col{
    margin:0px 0px 0px 42px;
}
.micro-profile-container{
    width:160px;
    float:left;
    padding: 1px;
    margin: 0px 10px 10px 8px;
    border:1px solid #666;
    overflow:hidden;
}
.micro-profile{
    line-height:.99em;
    letter-spacing:.02em;
    background-color:#fff;
    overflow: hidden;
}
.micro-profile-right-text{
}
.micro-profile-right-text .micro-profile-title {
    margin-top: 1px;
    font-size: 11px;
    font-weight:bold;
    color: #000;
    /* set max-height just bigger than avatar for high level data constraint */
    max-height:55px;
    overflow:hidden;
}
.micro-profile-right-text p.micro-profile-author{
    font-size:11px;
    font-style:italic;
    font-weight:normal;
    margin-top:-12px;
}
.micro-profile-right-text p.micro-profile-stats{
    font-size: 10px;
    margin:-12px 0 0 34px;
    color: #666;
    text-align:center;
}

p[class*="micro-profile-stats"] strong em{
    color:#222;
}

/*******************************************************************************************/
/***** BODY RIGHT AL-CONTROL-PANEL *****/
.al-lists-right-wrap{width:100%;}
.al-lists-right h3{
    width:100%;
    font-size: 14px;
    padding-bottom:3px;
    margin:9px 0 12px 0px;
    padding-left:4px;
    font-weight:bold;
    border-bottom:1px solid #666;
}
.promo-container{
    width:100%;
    margin-top:5px;
}
.two-list-inner-hd{
    width:100%;
}
.two-list-inner-bd{
    margin-left:0px;
}

/****** BODY RIGHT DEALS ******/
.fake-deal-container{
    width:100%;
}
.fake-deal{
    width:280px;
    height:150px;
    margin:15px 0px 10px 25px;
    border:1px solid #000;
    overflow:hidden;
}
.fake-deal-title p{
    text-align:center;
    font-weight:bold;
    font-size: 20px;
    display:block;
    color:#555;
    max-height:5px;
}
.fake-deal-price p{
    text-align: center;
    font-size:26px;
    font-weight:bold;
    color:#666;
    padding:2px;
    margin-top:10px;
}
.fake-deal-buy p{
    font-size:90%;
    margin:-40px 3px 0 7px;
    border:1px solid #666;
    background-color:#999;
    color:#000;
}
.fake-deal-boxes p{
    text-align:center;
    height: 30px;
    width: 50px;
    margin:0 0 2px -4px;
    padding:2px;
    font-size:10px;
    background-color:#666;
    color:#fff;
}
div[class*="fake-deal-box-"] {
    line-height:.95em;
}
div[class*="fake-deal-box-"] p em{
    display:block;
    font-size:13px;
    font-weight:bold;
    margin:3px 4px 0 0;
}
.fake-deal-photo{
    height:105px;
    width:130px;
    margin:0px 0 0 -25px;
    background-color:#666;
    border:1px solid #000;
}
/*******************************************************************************************/
/***** BODY RIGHT LISTS *****/

.two-list-container{
    width:100%;
}
.two-list-inner{
    width:100%;
    margin:0px 0px 0 -1px;
}
.two-mini-avatar-col{
    margin-left:-5px;
}
.two-mini-avatar-col .micro-profile-small-container{
    margin-right:6px;
}
/*******************************************************************************************/
/***** LOOK/FEEL & SPECIAL EFFECTS *****/
.rounded {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.roundedrt {
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    border-radius: 0 5px 5px 0;
}
.roundedlt {
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}