#h-nav-tab-bar.container
  .inn.column.span-10
    .main_type_tabs
      %a.justinTab Latest
      %a.justinTab Likes
      %a.justinTab Deals
  .inn.column.span-9.push-5.last
    .control_type_tabs
      %a.controlTab Messages
      %a.controlTab Start a List
      %a.controlTab Invite Friends
      %a.controlTab MyLists


